<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'noxusProject/base_style.css' %}">

<html>
<body>

  <div class="dropdown">
    <button class="Menubtn">☰</button>
      <div class="dropdown-menu">
        <a href="{%url 'index' %}">Home</a>
        <a href="{%url 'contact' %}">Contact Us</a>
        {% if user.is_authenticated %}
        <a href="{%url 'my_build' %}">My Build</a>
        <a href="{%url 'build_create' %}">Create Build</a>
        <a href="{%url 'logout' %}">Log out</a>
        {%else%}
        <a href="{%url 'login' %}">Log in</a>
        {%endif%}
      </div>
  </div>

  <div class="userstatus">
    {% if user.is_authenticated %}
    <a>{{user.username}}</a>
    {%else%}
    <a>Welcome</a>
    {%endif%}
  </div>
  {% block content %} {% endblock %}

  <div id="footer"></div>

  <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("footer").style.bottom = "0";
      } else {
        document.getElementById("footer").style.bottom = "-100px";
      }
      prevScrollpos = currentScrollPos;
    }
  </script>

</body>
</html>