@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body
{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: rgb(49, 50, 51);
}
.wrapper 
{
    width: 100%;
    min-height: 100px;
    background:#262626;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.column
{
    position: relative;
    width: 20%;
    height: 360px;
    float: left;
    overflow: hidden;
}
.column .image
{
    position: relative;
}
.column .image img
{
    max-width: 100%;
    transition: 1s;
}
.column:hover .image img
{
    transform: scale(1.5);
}
.column .details 
{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #fff;
    text-align: center;
    transform: scale(0.5);
    visibility: hidden;
    transition: 0.5s;
}
.column:hover .details 
{
    transform: scale(1);
    visibility: visible;
}
.column .details .content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    box-sizing: border-box;
}
.column .details .content h1
{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #262626;
    text-transform: uppercase;
}
.column .details .content h1 span
{
    font-size: 16px;
    color: #999;
}
.column .details .content h1 span:before
{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 50px;
    height: 2px;
    background: rgb(4, 250, 229);
    left: 50%;
    transform: translateX(-50%);
}
.column .details .content ul
{
    position: relative;
    display: flex;
    padding: 0;
    width: 70%;
    margin: 30px auto 0;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.column:hover .details .content ul
{
    transform: translateY(0px);
    opacity: 1;
}
.column .details .content ul li
{
    list-style: none;
    width: 25%;
    text-align: center;
}
.column .details .content ul li a
{
    display: block;
    color: #262626;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #262626;
}
.column .details .content ul li a:hover
{
    background: #f00;
    color: #fff;
    border: 1px solid #f00;
}