
/*--------------- Document box ---------------*/
.item1 {
    grid-area: banner;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    box-shadow: 0 0 5px 5px black inset;
    height: 200px;
}
.champion_name {
    text-align: left;
    padding: 110px 20px 0 20px;
    font-size: 30px;
}
.champion_title {
    text-align: left;
    padding: 0 20px 0 20px;
}
.item2 { grid-area: rune; }
.item3 { grid-area: spell; }
.item4 { grid-area: skill; }
.item5 { grid-area: start; }
.item6 { grid-area: full; }
.grid-container {
    display: grid;
    grid-template-areas:
        'banner banner banner banner banner banner'
        'rune spell spell skill skill skill'
        'rune start start full full full';
    grid-gap: 5px;
    padding: 5% 15%;
    color: white;
}
.grid-container > div {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    /* padding: 500px 100px; */
    font-size: 25px;
  }
/*--------------- Rune ---------------*/
.main_rune {
    background-size: cover;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    box-shadow: 0 0 5px 5px black inset;
    border-radius: 50%;
}
.sub_rune {
    background-size: cover;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    box-shadow: 0 0 5px 5px black inset;
    border-radius: 50%;
}
/*--------------- items ---------------*/
.square_icon {
    background-size: cover;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin: 20px 0 30px 0;
    display: inline-block;
    border-radius: 25%;
    box-shadow: 0 0 5px 5px black inset;
}
.square_icon .square_icon_hover {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    /* z-index: 1; */
    bottom: 35%;
    /* left: 100%; */
    margin-left: -75px;
    font-size: 15px;
}
.square_icon .square_icon_hover::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.square_icon:hover .square_icon_hover {
    visibility: visible;
}
/*--------------- Skill path ---------------*/
b {
    font-size: 50px;
    color: transparent;
}
.text {
    padding-top: 30px;
}