
/*--------------- Search Bar ---------------*/

.searchBox {
    position: absolute;
    margin-top: -6.75%;
    right: 1%;
    transform:  translate(0%,100%);
    background: #222;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #D2B55B;
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
    background: white;
}

.searchButton {
    /* background-image: url('https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png'); */
    border-style: none;
    /* color: white; */
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #D2B55B;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    border-width: 5px;
    border-color: transparent;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: #D2B55B;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.searchButton a{
    font-size: 20px;
    text-align: center;
    color: #111;
}
.fa-search {
    text-decoration: none;
}
@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

/*--------------- Champion Menu Bar ---------------*/

#mySidenav a {
    position: fixed;
    /* top:50%; */
    left: -30px;
    transition: 0.3s;
    height: 60px;
    width: 60px;
    text-decoration: none;
    font-size: 20px;
    background: #111;
    border-radius: 0 50% 50% 0;
  }

#mySidenav a:hover {
    left: 0px;
    background-color: #555;
}

#all {
    top:20%;
}

.all-icon {
    margin-top: 7px;
    margin-left: 7px;
    height: 45px;
    width: 45px;
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-unselected.png');
    background-size: cover;
    border-radius: 50%;
}


.all-icon:hover {
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-unselected-hover.png');
}

#top {
    top:30%;
}

.top-icon {
    margin-top: 7px;
    margin-left: 7px;
    height: 45px;
    width: 45px;
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-top.png');
    background-size: cover;
    border-radius: 50%;
}

.top-icon:hover {
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-top-hover.png');
}

#jungle {
    top:40%;
}

.jungle-icon {
    margin-top: 7px;
    margin-left: 7px;
    height: 45px;
    width: 45px;
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-jungle.png');
    background-size: cover;
    border-radius: 50%;
}

.jungle-icon:hover {
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-jungle-hover.png');
}

#mid {
    top: 50%;
}

.mid-icon {
    margin-top: 7px;
    margin-left: 7px;
    height: 45px;
    width: 45px;
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-middle.png');
    background-size: cover;
    border-radius: 50%;
}

.mid-icon:hover {
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-middle-hover.png');
}

#adc {
    top: 60%;
}

.adc-icon {
    margin-top: 7px;
    margin-left: 7px;
    height: 45px;
    width: 45px;
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-bottom.png');
    background-size: cover;
    border-radius: 50%;
}

.adc-icon:hover {
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-bottom-hover.png');
}

#support {
    top: 70%;
}

.support-icon {
    margin-top: 7px;
    margin-left: 7px;
    height: 45px;
    width: 45px;
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-utility.png');
    background-size: cover;
    border-radius: 50%;
}

.support-icon:hover {
    background-image: url('https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/icon-position-utility-hover.png');
}

/*--------------- Square Box Table ---------------*/

.container {
    position: absolute;
    width: 80%;
    margin-top: 5%;
    margin-left: 12%;
    /* margin-bottom: 200px; */
}

.box {
    height: 300px;
    width: 165px;
    display: inline-block;
    background-size: cover;
    margin-bottom: 20px;
}

.picture {
    height: 255px;
    width: 140px;
    margin-left: 14%;
    background-size: cover;
    box-shadow: 0 0 75px 1px black inset;

    /* Inner Shadow */
	border-color: transparent;
	border-radius: 7.5px;
    /* box-shadow: 0 0 75px 25px black inset; */
    
    /* Magnifying section */
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.picture:hover {
    box-shadow: 0 0 10px 1px #111;
    transition: 0.2s;

    /* Magnifying section */
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.text{
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}