<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<style>
body {
  margin: 0;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-style: normal;
  font-size: 400;
}
</style>
</head>
<body style="background-color:#46494B;">

<div class="topnav">
  <b href="#Noxus">NOXUS</b>
  <a href="#ContactUs">Contact Us</a>
  <a href="#TierList">Tier List</a>
  <a href="#guide">Guide</a>
  <a href="#champion">Champion</a>
</div>

<p id="block1">League of Legend</p>
<div class="searchBox">
  <input class="searchInput" type="text" placeholder="Search Champion ...">
</div>
<div  class="championBar">
  <a href="#">a</a>
  <a href="#">b</a>
  <a href="#">c</a>
  <a href="#">d</a>
</div>

</body>
</html>