<!------------------------------------ base site ---------------------------------------->
{% extends 'base_site.html' %}
{% block content %}
<!------------------------------------------------------------------------------------->
{% load static %}
<link rel="stylesheet" href="{% static 'noxusProject/index.css' %}">
<link rel="stylesheet" href="{% static 'noxusProject/build_user_css.css' %}">
{%if build %}
<div class="container">
  <!-- make the for loop of django -->
  {%for b in build %}
    <div class="box">
        <a href="{{b.build_name}}"><div class="picture" style="background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{b.champion.name}}_0.jpg)"></div></a>
        <a href="{{b.build_name}}"><div class="text">{{b.build_name}}</div></a>
    </div>
   {%endfor%}
</div>
{%else%}
<div class="error-no-build" href="{%url 'build_create' %}">Create Your Build First Idiot!</div>
{%endif%}
<!------------------------------------ base site ---------------------------------------->
{% endblock %}  