<!------------------------------------ base site ---------------------------------------->
{% extends 'base_site.html' %}
{% block content %}
<!------------------------------------------------------------------------------------->
{% load static %}
<link rel="stylesheet" href="{% static 'noxusProject/create_build_style.css' %}">
<!------------------------------------------------------------------------------------->
  <form class="build" action="" method="post">
    {% csrf_token %}
    <table>
      <div class="build-name">{{ form.build_name.label }}</div>
      <div class="build-name">{{ form.build_name }}</div>
      <div class="build-name">{{ form.champion.label }}</div>
      <div class="build-name">{{ form.champion }}</div>
      <div class="build-name">{{ form.starter1.label }}</div>
      <div class="build-name">{{ form.starter1 }}</div>
      <div class="build-name">{{ form.starter2.label }}</div>
      <div class="build-name">{{ form.starter2 }}</div>
      <div class="build-name">{{ form.items_1.label }}</div>
      <div class="build-name">{{ form.items_1 }}</div>
      <div class="build-name">{{ form.items_2.label }}</div>
      <div class="build-name">{{ form.items_2 }}</div>
      <div class="build-name">{{ form.items_3.label }}</div>
      <div class="build-name">{{ form.items_3 }}</div>
      <div class="build-name">{{ form.items_4.label }}</div>
      <div class="build-name">{{ form.items_4 }}</div>
      <div class="build-name">{{ form.items_5.label }}</div>
      <div class="build-name">{{ form.items_5 }}</div>
      <div class="build-name">{{ form.items_6.label }}</div>
      <div class="build-name">{{ form.items_6 }}</div>
      <div class="build-name">{{ form.spell1.label }}</div>
      <div class="build-name">{{ form.spell1 }}</div>
      <div class="build-name">{{ form.spell2.label }}</div>
      <div class="build-name">{{ form.spell2 }}</div>
      <div class="build-name">{{ form.key_stone.label }}</div>
      <div class="build-name">{{ form.key_stone }}</div>
      <div class="build-name">{{ form.row1.label }}</div>
      <div class="build-name">{{ form.row1 }}</div>
      <div class="build-name">{{ form.row2.label }}</div>
      <div class="build-name">{{ form.row2 }}</div>
      <div class="build-name">{{ form.row3.label }}</div>
      <div class="build-name">{{ form.row3 }}</div>
      <div class="build-name">{{ form.sub_row1.label }}</div>
      <div class="build-name">{{ form.sub_row1 }}</div>
      <div class="build-name">{{ form.sub_row2.label }}</div>
      <div class="build-name"><a>{{ form.sub_row2 }}</a></div>
    </table>
    <input class="button" type="submit" value="Submit">
  </form>
{% endblock %}