{% extends "base_site.html" %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.build_name.label }}
    {{ form.build_name }}
    {{ form.champion.label }}
    {{ form.champion }}
    {{ form.starter1.label }}
    {{ form.starter1 }}
    {{ form.starter2.label }}
    {{ form.starter2 }}
    {{ form.items_1.label }}
    {{ form.items_1 }}
    {{ form.items_2.label }}
    {{ form.items_2 }}
    {{ form.items_3.label }}
    {{ form.items_3 }}
    {{ form.items_4.label }}
    {{ form.items_4 }}
    {{ form.items_5.label }}
    {{ form.items_5 }}
    {{ form.items_6.label }}
    {{ form.items_6 }}
    {{ form.spell1.label }}
    {{ form.spell1 }}
    {{ form.spell2.label }}
    {{ form.spell2 }}
    {{ form.key_stone.label }}
    {{ form.key_stone }}
    {{ form.row1.label }}
    {{ form.row1 }}
    {{ form.row2.label }}
    {{ form.row2 }}
    {{ form.row3.label }}
    {{ form.row3 }}
    {{ form.sub_row1.label }}
    {{ form.sub_row1 }}
    {{ form.sub_row2.label }}
    {{ form.sub_row2 }}
    </table>
    <input type="submit" value="Submit">
  </form>
{% endblock %}