<!------------------------------------ base site ---------------------------------------->
{% extends 'base_site.html' %}
{% block content %}
<!------------------------------------------------------------------------------------->

<title>Our Development Team</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'noxusProject/contacts-style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<div class="container">
    <h1>Our Development Team</h1>
    <h3>"May the force be with us"</h3>
    <div class="box">
        <div class="image" style="background-image: url('https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.0-9/18581745_1395002980591971_2947919239252570452_n.jpg?_nc_cat=108&ccb=2&_nc_sid=a4a2d7&_nc_eui2=AeEwjYUQiKnTz4kT6WvqDmrEnXs4m01_HXKdezibTX8dcissAKHNUefJSeC5ziqpNgTY14CnUone4l705l0LmTLZ&_nc_ohc=4K6g9ltv0boAX8g-l7s&_nc_oc=AQkkJwhbgwoQcfTpDykzkvkWr_M9X-15DJSqYl7aCn4wkl6uGlEYsFPS9jrAN8RmHgY&_nc_ht=scontent.fbkk22-1.fna&oh=9d063e0a385a172e67195615d29bb344&oe=5FD8284A');"></div>
        <div class="info">
            <div class="text">
                <a href="https://web.facebook.com/poom.rapee.3" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/po_om.rr/" class="fa fa-instagram"></a>
                <a href="https://github.com/PhumrapeeChaowanapricha" class="fa fa-github"></a>
                <div class="name">Phumrapee</div>
                <div class="title">"Fk this shit."</div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="image" style="background-image: url('https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.0-9/56173183_2340494792647531_2590279357285007360_o.jpg?_nc_cat=100&ccb=2&_nc_sid=174925&_nc_eui2=AeFjzd9rDh_o275w3C9FMa6KDYHOdgBrr1cNgc52AGuvV331VLwGlrg-Gzx_nDlE39sZUbCkKhVrdbsDmZUSwf43&_nc_ohc=DGTAHkXoJeoAX8yEMSL&_nc_ht=scontent.fbkk22-1.fna&oh=c9d50a3c9f65398bc06a018381e7aa41&oe=5FD945CC');"></div>
        <div class="info">
            <div class="text">
                <a href="https://www.facebook.com/Potchara.Bomb/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/beom54/" class="fa fa-instagram"></a>
                <a href="https://github.com/VonKiar" class="fa fa-github"></a>
                <div class="name">Potchara</div>
                <div class="title">"WTF is this?!"</div>
            </div>
        </div>
    </div>
    

    <div class="box">
        <div class="image" style="background-image: url('https://scontent.fbkk22-3.fna.fbcdn.net/v/t31.0-8/22861715_1440318056005679_9086667028510579705_o.jpg?_nc_cat=103&ccb=2&_nc_sid=174925&_nc_eui2=AeFjecagfNpiFlLbQbR9eCQ5e96ChsSLI1p73oKGxIsjWuOYL1zLGvwpYzjGMcLw7SN85Lrcq18Q7hWyoJj8zXpf&_nc_ohc=6xp1ppP3HiEAX_UIAY8&_nc_ht=scontent.fbkk22-3.fna&oh=70823c8675c4a0ede98fd360994d016f&oe=5FD8BEFB');"></div>
        <div class="info">
            <div class="text">
                <a href="https://www.facebook.com/sahanon.pisetpakasit" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/pst_ping/" class="fa fa-instagram"></a>
                <a href="https://github.com/Sahanon-P/" class="fa fa-github"></a>
                <div class="name">Sahanon</div>
                <div class="title">"LET ME OUT!!!"</div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="image" style="background-image: url('https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.0-9/60362220_10205902406757485_7822542773654913024_o.jpg?_nc_cat=103&ccb=2&_nc_sid=0debeb&_nc_eui2=AeENIeaeqNRfdVy2Fk05H8SLbpo20KipaaFumjbQqKlpoWHzu092zpliJVLj_jvGOe0nqzXLIotdk5X7NOzGaoz-&_nc_ohc=Qj4bARibKEIAX_RMyCa&_nc_ht=scontent.fbkk22-3.fna&oh=af4b6d4e76a7e86a2d2d48a892f6e532&oe=5FD938FA');"></div>
        <div class="info">
            <div class="text">
                <a href="https://www.facebook.com/tsorawichaya" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/fst.first" class="fa fa-instagram"></a>
                <a href="https://github.com/Firstyfirst" class="fa fa-github"></a>
                <div class="name">Sorawichaya</div>
                <div class="title">"What? it worked?!"</div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="image" style="background-image: url('https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.0-9/13921179_1106318722756564_413299740713362529_n.jpg?_nc_cat=107&ccb=2&_nc_sid=a4a2d7&_nc_eui2=AeFR4P788VWvOjDFuE0hm3PkH4yJQIERaUcfjIlAgRFpRy581vdVSzOSgmD6F_Hqwi_88pBosrfj5EqmynGi2bCQ&_nc_ohc=oDbIMVOnGK8AX-C0uO9&_nc_ht=scontent.fbkk22-2.fna&oh=15d2758425e943425dc357e82a173adc&oe=5FD83284');"></div>
        <div class="info">
            <div class="text">
                <a href="https://www.facebook.com/Raikiriz/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/kmttcc/" class="fa fa-instagram"></a>
                <a href="https://github.com/Raikirieiei" class="fa fa-github"></a>
                <div class="name">Thornthep</div>
                <div class="title">"GG Noobs"</div>
            </div>
        </div>
    </div>
</div>

<!------------------------------------ base site ---------------------------------------->
{% endblock %}  
<!------------------------------------------------------------------------------------->
