<!------------------------------------ base site ---------------------------------------------->
{% extends 'base_site.html' %}
{% block content %}
<!------------------------------------ load stylesheet ---------------------------------------->
{% load static %}
<link rel="stylesheet" href="{% static 'noxusProject/create_build_style.css' %}">


<!------------------------------------ contents ----------------------------------------------->
<div class="container">
    <div class="option">
        <div class="champion">
            <div class="selection"></div>
        </div>
        <div class="rune">
            <div class="selection"></div>
        </div>
        <div class="spell">
            <div class="selection"></div>
        </div>
        <div class="skill">
            <div class="selection"></div>
        </div>
        <div class="start">
            <div class="selection"></div>
        </div>
        <div class="full">
            <div class="selection"></div>
        </div>
    </div>
</div>
<!------------------------------------ base site ---------------------------------------------->
{% endblock %}  
<!--------------------------------------------------------------------------------------------->