<!------------------------------------ base site ---------------------------------------------->
{% extends 'base_site.html' %}
{% block content %}
<!------------------------------------ load stylesheet ---------------------------------------->
{% load static %}
<link rel="stylesheet" href="{% static 'noxusProject/create_build_style.css' %}">


<!------------------------------------ contents ----------------------------------------------->







<!------------------------------------ base site ---------------------------------------------->
{% endblock %}  
<!--------------------------------------------------------------------------------------------->