<!------------------------------------ base site ---------------------------------------------->
{% extends 'base_site.html' %}
{% block content %}
<!------------------------------------ load stylesheet ---------------------------------------->
{% load static %}
<link rel="stylesheet" href="{% static 'noxusProject/create_build_style.css' %}">


<!------------------------------------ contents ----------------------------------------------->
<div class="container">
    <div class="option">
        <div class="champion">Champion
            <div class="selection"></div>
        </div>
        <div class="rune">Runes
            <div class="selection"></div>
        </div>
        <div class="spell">Summoner Spells
            <div class="selection"></div>
        </div>
        <div class="skill">Skill Order
            <div class="selection"></div>
        </div>
        <div class="start">Starting Items
            <div class="selection"></div>
        </div>
        <div class="full">Full Build
            <div class="selection"></div>
        </div>
    </div>
</div>
<!------------------------------------ base site ---------------------------------------------->
{% endblock %}  
<!--------------------------------------------------------------------------------------------->