<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'noxusProject/detail_style.css' %}">
<html>
<body style="background-color: #46494B;">
<div class="header">
  <b>NOXUS</b>
  <a href="#ContactUs">Contact Us</a>
  <a href="#Admin">Admin</a>
  <a href="#champion">Champion</a>
</div>

<p id="block1">League of Legend</p>

<h1> - Aatrox - </h1>

<div class="splash_art">
  <div class="square_picture"></div>
  <div class="champion_name">Aatrox</div>
  <div class="champion_title">The Darkin blade</div>
</div>

<div class="document_box">
  <div class="rune_box">
    <a>Rune</a>
    <span class="main_rune" style="background-image: url('https://ddragon.canisback.com/img/perk-images/Styles/Domination/Electrocute/Electrocute.png');"></span>
    <div class="sub_rune_box">
      <span class="sub_rune" style="background-image: url('https://ddragon.canisback.com/img/perk-images/Styles/Domination/SuddenImpact/SuddenImpact.png');"></span>
      <span class="sub_rune" style="background-image: url('https://ddragon.canisback.com/img/perk-images/Styles/Precision/Triumph.png');"></span>
      <span class="sub_rune" style="background-image: url('https://ddragon.canisback.com/img/perk-images/Styles/Domination/EyeballCollection/EyeballCollection.png');"></span>
      <span class="sub_rune" style="background-image: url('https://ddragon.canisback.com/img/perk-images/Styles/Precision/LegendBloodline/LegendBloodline.png');"></span>
      <span class="sub_rune" style="background-image: url('https://ddragon.canisback.com/img/perk-images/Styles/Domination/TasteOfBlood/GreenTerror_TasteOfBlood.png');"></span>
      <span class="sub_rune" style="background-image: url('https://ddragon.canisback.com/img/perk-images/Styles/Precision/PresenceOfMind/PresenceOfMind.png');"></span>
    </div>
  </div>

  <div class="spell_box">
    <a>Summonner spells</a>
    <div class="spell" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.22.1/img/spell/SummonerFlash.png');"></div>
    <div class="spell" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.22.1/img/spell/SummonerTeleport.png');"></div>
  </div>

  <div class="starter_item_box">
    <a>Start items</a>
    <div class="item" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.22.1/img/item/1055.png');"></div>
    <div class="item" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.22.1/img/item/2003.png');"></div>
  </div>

  <div class="skill_path_box">
    <a>Skill Path</a>
    <div class="skill" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.21.1/img/spell/AatroxQ.png');"></div>
    <b>></b>
    <div class="skill" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.21.1/img/spell/AatroxE.png');"></div>
    <b>></b>
    <div class="skill" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.21.1/img/spell/AatroxW.png');"></div>
  </div>

  <div class="full_build_box">
    <a>Full Build</a>
    <div class="item" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.22.1/img/item/3071.png');"></div>
    <div class="item" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.22.1/img/item/3047.png');"></div>
    <div class="item" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.22.1/img/item/3053.png');"></div>
    <div class="item" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.22.1/img/item/3065.png');"></div>
    <div class="item" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.22.1/img/item/3812.png');"></div>
    <div class="item" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/10.22.1/img/item/3026.png');"></div>
  </div>

</div>

<footer>
  <div class="title">NOXUS</div>
  <div class="footertext">
    <p>
      Hello, programmer!!!<br>
      Nice too me you<br>
      We are the developer<br>
      from KU<br>
    </p>
  </div>
  <div href="#"><span class="dot2" style="margin-right: 100px;"></span></div>
  <div href="#"><span class="dot2" style="margin-right: 10px;"></span></div>
  <div href="#"><span class="dot2" style="margin-right: 10px;"></span></div>
  <br>
  <p style="color: aliceblue; float: right; margin-right: -102px; margin-top: 20px;">Social media</p>
</footer>

</body>
</html>