<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="detail_style.css">
<style>
body {
  margin: 0;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-style: normal;
  font-size: 400;
  height: 50vh;
  overflow: scroll;
}

footer {
  left: 0;
  bottom: 0;
  background-color: #333;
  color: #bfbfbf;
  padding-top:20px;
  padding-bottom:130px;
  padding-left:20px;
}
</style>
</head>
<body style="background-color:#46494B;">

<div class="topnav">
  <b href="#Noxus">NOXUS</b>
  <a href="#ContactUs">Contact Us</a>
  <a href="#TierList">Tier List</a>
  <a href="#guide">Guide</a>
  <a href="#champion">Champion</a>
</div>

<div  class="championBar">
    <a href="#"><span class="box"></span></a>
    <div class = "footertext">
      <p style="color: red;">Champion </p>
      <p style = "color: grey;">class</p>
    </div>
    
</div>
<div class="mainBox">
  
</div>



