<!DOCTYPE html>
<html>
<head>
  {%load static%}
  <link rel="stylesheet" href="{% static 'noxusProject/newStyle.css' %}">
</head>
<body>
<div class="topnav">
  <li>
  <a class="logo" style="float:left" href="#home">NOXUS.isp</a>
  <a class="special" href="#expansion">DLC 01</a>
  <a href="#contactus">Contact Us</a>
  <a href="#forum">Forum</a>
  <a href="#champions">Champions</a>
  </li>
</div>

<p class="title">League's Insight</p>

<div class="searchbar">
  <input class="searchInput" type="text" placeholder="Search Champion ...">
</div>

<div  class="championBar">
  <a href="#"><span class="dot"></span></a>
  <a href="#"><span class="dot"></span></a>
  <a href="#"><span class="dot"></span></a>
  <a href="#"><span class="dot"></span></a>
  <a href="#"><span class="dot"></span></a>
  <g style="color:white">Sorted by</g>
  <b class="winrate" href="#">Win rate</b>
  <b class="pickrate" href="#">Pick rate</b>
  <b class="banrate" href="#">Ban rate</b>
</div>

<div class="row">
  <div class="column">
    <div class="box"></div>
    <p class="text">text1</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text2</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text3</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text4</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text5</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text6</p>
  </div>
  
  <div class="column">
    <div class="box"></div>
    <p class="text">text7</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text8</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text9</p>
  </div>
  <div class="column">
    <div class="box"></div>
    <p class="text">text1</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text2</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text3</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text4</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text5</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text6</p>
  </div>
  
  <div class="column">
    <div class="box"></div>
    <p class="text">text7</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text8</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text9</p>
  </div>
  <div class="column">
    <div class="box"></div>
    <p class="text">text1</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text2</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text3</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text4</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text5</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text6</p>
  </div>
  
  <div class="column">
    <div class="box"></div>
    <p class="text">text7</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text8</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text9</p>
  </div>
  <div class="column">
    <div class="box"></div>
    <p class="text">text1</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text2</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text3</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text4</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text5</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text6</p>
  </div>
  
  <div class="column">
    <div class="box"></div>
    <p class="text">text7</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text8</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text9</p>
  </div>
  <div class="column">
    <div class="box"></div>
    <p class="text">text1</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text2</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text3</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text4</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text5</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text6</p>
  </div>
  
  <div class="column">
    <div class="box"></div>
    <p class="text">text7</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text8</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text9</p>
  </div>
  <div class="column">
    <div class="box"></div>
    <p class="text">text1</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text2</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text3</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text4</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text5</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text6</p>
  </div>
  
  <div class="column">
    <div class="box"></div>
    <p class="text">text7</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text8</p>
  </div>

  <div class="column">
    <div class="box"></div>
    <p class="text">text9</p>
  </div>
</div>
</body>

<footer>
  <div id="footertext"><p>project-noxus @isp-ske-ku, 2020</p></div>
</footer>
</html>