<!------------------------------------ base site ---------------------------------------->
{% extends 'base_site.html' %}
{% block content %}
<!------------------------------------------------------------------------------------->

<div id="mySidenav">
  <a href="" id="top"><div class="top-icon"></div></a>
  <a href="" id="jungle"><div class="jungle-icon"></div></a>
  <a href="" id="mid"><div class="mid-icon"></div></a>
  <a href="" id="adc"><div class="adc-icon"></div></a>
  <a href="" id="support"><div class="support-icon"></div></a>
</div>

<div class="container">
  <!-- make the for loop of django -->
  <div class="box">
    <a href="detail.html"><div class="picture" style="background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Aatrox_0.jpg)"></div></a>
    <a href="detail.html"><div class="text">Aatrox</div></a>
  </div>
</div>

<!------------------------------------ base site ---------------------------------------->
{% endblock %}  
<!------------------------------------------------------------------------------------->
