<!DOCTYPE html>
<!------------------------------------ base site ---------------------------------------->
{% extends 'base_site.html' %}
{% block content %}
<!------------------------------------------------------------------------------------->
<link rel="stylesheet" href="my_build.css">
<script src="https://kit.fontawesome.com/5f2d2f1537.js" crossorigin="anonymous"></script>
<html>
<body style="background-color:grey;">
  <div id="container">
    <div class="profile"></div>
    <div class="name">champion_name</div>
    <div id="rune">
      <div class="text">Rune</div>
      <div class="main_rune"></div>
      <div class="sub_rune"></div>
      <div class="sub_rune"></div>
      <div class="sub_rune"></div>
      <div class="main_rune_2"></div>
      <div class="sub_rune_2"></div>
      <div class="sub_rune_2"></div>
    </div>
    <div id="spell">
      <div class="text">Spell Summonners</div>
      <div class="spell_sum1"></div>
      <div class="spell_sum2"></div>
    </div>
    <div id="starter_items">
      <div class="text">Starter items</div>
      <div class="starter1"></div>
      <div class="starter2"></div>
    </div>
    <div id="skill">
      <div class="text">Skill</div>
      <div class="skill1"></div>
      <div class="skill2"></div>
      <div class="skill3"></div>
      <div class="skill4"></div>
    </div>
    <div id="full_builds">
      <div class="text">Full Builds</div>
      <div class="full1"></div>
      <div class="full2"></div>      
      <div class="full3"></div>
      <div class="full4"></div>
      <div class="full5"></div>
      <div class="full6"></div>
    </div>
  </div>

  <div id="container2">
    <div class="profile"></div>
    <div class="name">champion_name</div>
    <div id="rune">
      <div class="text">Rune</div>
      <div class="main_rune"></div>
      <div class="sub_rune"></div>
      <div class="sub_rune"></div>
      <div class="sub_rune"></div>
      <div class="main_rune_2"></div>
      <div class="sub_rune_2"></div>
      <div class="sub_rune_2"></div>
    </div>
    <div id="spell">
      <div class="text">Spell Summonners</div>
      <div class="spell_sum1"></div>
      <div class="spell_sum2"></div>
    </div>
    <div id="starter_items">
      <div class="text">Starter items</div>
      <div class="starter1"></div>
      <div class="starter2"></div>
    </div>
    <div id="skill">
      <div class="text">Skill</div>
      <div class="skill1"></div>
      <div class="skill2"></div>
      <div class="skill3"></div>
      <div class="skill4"></div>
    </div>
    <div id="full_builds">
        <div class="text">Full Builds</div>
        <div class="full1"></div>
        <div class="full2"></div>      
        <div class="full3"></div>
        <div class="full4"></div>
        <div class="full5"></div>
        <div class="full6"></div>
    </div>
  </div>
  <div id="container3"><i class="far fa-plus-square"></i></div>
  <div id="box"></div>
  </div>
</body>
</html>

<!------------------------------------ base site ---------------------------------------->
{% endblock %}  
<!------------------------------------------------------------------------------------->